.project
.classpath
.lein-deps-sum
.pydevproject
pom.xml
bin
classes
checkouts
test-output
target
lib
tmp/*

## editor files
*~
\#*
.\#*
*.swp
*.swo

## for plugin settings like counter-clockwise
.settings
