.project
.classpath
.lein-deps-sum
.pydevproject
pom.xml
bin
classes
checkouts
test-output
target
lib
tmp/*
resources/ldtp_api_pretty.clj
resources/ldtp_api_raw.clj

## editor files
*~
\#*
.\#*
*.swp
*.swo

## for plugin settings like counter-clockwise
.settings
